*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgcolor: pink;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
    background-color: $bgcolor;
    font-family: $fontFamily;
}