*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgcolor: pink;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
    background-color: $bgcolor;
    font-family: $fontFamily;
}

header {
    align-items: center;
    padding: 1rem;
}

ul {
    list-style-type: none;
    
    li {
        display: inline-block;

    }
}

a {
    color: $fontColor;
    text-decoration: none;
}